@import "./sectionHero.scss";
@import "./sectionBesties.scss";
@import "./sectionBackground.scss";

.SandBox {
  overflow: hidden;
}

.SectionSeparator {
  display: flex;
  width: 100%;
  height: 150px;
  z-index: 12;
  .Mini {
    background-size: 100% 150px;
    background-image: url("/images/lineas/solapa/lineaPatron.png");
    height: 150px;
  }
  .Anchor {
    min-width: 500px;
    height: 150px;
    background-size: 500px 150px;
    background-image: url("/images/lineas/solapa/lineaSolapa.png");
  }
  .Dynamic {
    height: 150px;
    width: 100%;
    background-size: 100% 150px;
    background-image: url("/images/lineas/solapa/lineaPatron.png");
  }
  &.right {
    .Anchor {
      transform: scaleX(-1);
    }
  }
  @media screen and (max-width: 768px) {
    & {
      height: 150px;
      .Mini {
        display: none;
      }
      .Dynamic {
        height: 150px;
        background-size: 100% 150px;
      }
      .Anchor {
        min-width: 500px;
        height: 150px;
        background-size: 500px 150px;
      }
    }
  }
}
