.Background {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(30, 30, 30);
  @keyframes moving {
    0% {
      left: -20%;
    }
    50% {
      left: 0%;
    }
    100% {
      left: -20%;
    }
  }
  @keyframes showing {
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }
  .Background-Logic {
    position: absolute;
    height: 100%;
    left: -20%;
    width: 120%;
    animation: moving 80s linear infinite;
    .Background-Pattern {
      position: absolute;
      height: 100%;
      width: 100%;
      background-image: url("/images/hexasPattern.png");
      background-position-x: 0px;
      background-position-y: 100%;
      background-size: 150%;
      background-repeat: no-repeat;
    }
    .Background-Progressive-Line {
      position: absolute;
      height: 100%;
      width: 0px;
      background-color: transparent;
      animation: showing 40s linear infinite;
      .Background-Progressive-Child {
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("/images/hexasLine.png");
        background-position-x: 0px;
        background-position-y: 100%;
        background-repeat: no-repeat;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    .Background-Pattern { 
      background-position-y: 0% !important;
    }
    .Background-Progressive-Child {
      background-position-y: 0% !important;
    }
  }
}



.BestieCardContainer{
  margin-top: 200px;
  .BestieHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    &.top {

    }
    &.bot {
      top: -150px;
      position: relative;
    }
  }
}
$size: 250px;

.BestieCard {
  position: relative;
  // animation: appear 0.6s ease forwards;
  width: $size;
  height: $size;
  //background-image: url("/besties/eich.png");
  background-position: 0px 0px;
  background-size: 2000px $size;
  position: relative;
  opacity: 0.8;
  filter: grayscale(0.8);
  &:hover {
    cursor: pointer;
    animation: animation2 0.3s steps(7) forwards;
  }
}

@keyframes animation2 {
  0% {
    background-position-x: 0px;
  }
  50% {
    background-position-x: -1750px;
  }
  100% {
    filter: grayscale(0);
    opacity: 1;
    background-position-x: -0px;
  }
}


